

<div class="contact">
  <p>
    Ryan Fritts<br />
    Designer/Developer<br />
    h@ryanfritts.com
  </p>
</div>
    
<div class="contact">
  <p>
    <a href="https://github.com/ryanfritts">github.com/ryanfritts</a><br />
    <a href="https://twitter.com/_ryanfritts">twitter.com/_ryanfritts</a><br />
  </p>
</div>
    
    
    
    
    
<footer>
		
		<h1 id="hireme">hireme (at) ryanfritts (dot) com</h1>
		<p><small>&copy; Copyright Ryan Fritts 2011-12. All Rights Reserved.</small></p>
		
	</footer>

</div>

<!-- here comes the javascript -->
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
    
<!-- Grab Google CDN's jQuery. fall back to local if necessary -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script>window.jQuery || document.write("<script src='scripts/jquery-1.5.1.min.js'>\x3C/script>")</script>

<!-- this is where we put our custom functions -->
<script src="scripts/functions.js"></script>
<script src="scripts/jquery.scrollTo-1.4.2-min.js"></script>
<script src="scripts/jquery.localscroll-1.2.7-min.js"></script>
<script>

	$(document).ready(function() {
	  $.localScroll();
	});

</script>
<!--[if lt IE 7]>
	<script defer type="text/javascript" src="_/js/pngfix.js"></script>
<![endif]-->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29511607-1']);
  _gaq.push(['_setDomainName', 'ryanfritts.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  
</body>
</html>