<!--<header>
		
		<h1 id="whois">Who is Ryan Fritts?</h1>
		
		<nav>
		
			<ol>
				<li><a href="#artist">the artist</a></li>
				<li><a href="#developer">the developer</a></li>
				<li><a href="#entrepreneur">the entrepreneur</a></li>
				<li><a href="#manager">the manager</a></li>
				<li><a href="#writer">the writer</a></li>
				<li><a href="#adventurer">the adventurer</a></li>
				<li><a href="#academic">the academic</a></li>
				<li><a href="#praise" class="alt">praise for rf</a></li>
				<li><a href="#hireme" class="alt">hire me</a></li>
			</ol>
		
		</nav>

	</header>-->