---
layout: page
---

<article class="article">
    
    <hgroup class="content__header">
		<h1 id="{{page.title | downcase}}" class="header__title--{{page.title | downcase}}">the artist</h1>
		<figure class="figure--{{page.title | downcase}}">cast of characters: {{page.title | downcase}}</figure>
    </hgroup>
		
    {{ content }}
  
    <footer class="article__footer">
        <nav class="nav--footer">
            <a class="__top__" href="#top">who is</a>
            <a class="nav__link--footer" href="#artist">the artist</a>
            <a class="nav__link--footer" href="#developer">the developer</a>
            <a class="nav__link--footer" href="#entrepreneur">the entrepreneur</a>
            <a class="nav__link--footer" href="#manager">the manager</a>
            <a class="nav__link--footer" href="#writer">the writer</a>
            <a class="nav__link--footer" href="#adventurer">the adventurer</a>
            <a class="nav__link--footer" href="#academic">the academic</a>
            <a class="nav__link--footer" href="#praise" class="alt">praise for rf</a>
            <a class="nav__link--footer" href="#hireme" class="alt">hire me</a>
        </nav>
        
    </footer>
</article>